<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.policia.codigopolicia">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in LoginPoliciaNalogin form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- BARCODE -->
    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDgTht78gxEZKTRSFZ1liL9AWgaYdFvN6U" />

        <activity
            android:name=".PrincipalActivity"
            android:label="@string/title_activity_principal"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CargaActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".IdiomaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ArticuloCapituloActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ArticuloMultaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PortalCiudadano"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GenericWebviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PoliciaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".IdentificacionPolicia.BarcodeCaptureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ArgisActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PuntosActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EncuestaActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".CapacitacionActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>